<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {#% stylesheets '@css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %#}
        <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/main.css') }}" type="text/css" media="all" />
        <!--[if lte IE 8]><script src="{{ asset('bundles/app/assets/js/ie/html5shiv.js') }}"></script><![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('bundles/app/assets/css/ie8.css') }}" /><![endif]-->
            <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('bundles/app/assets/css/ie9.css') }}" /><![endif]-->
        {% endblock %}
    </head>
    <body>

        <!-- Nav -->
        <nav id="nav">
            <ul class="container">
                <li><a href="#top">Haut</a></li>
                <li><a href="#work">Travail</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- Home -->

        {% block body %}

        {% endblock %}
        <!-- Scripts -->

        {% javascripts '@js' %}
        <script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
            <!--[if lte IE 8]><script src="{{ asset('bundles/app/assets/js/ie/respond.min.js') }}"></script><![endif]-->
        {% endblock %}
    </body>
</html>